.banner_text_box{
  height: 100%;
}
.heading_primary{
  font-size: 5.2rem;
  font-weight: 700;
  color: #555;

}
.text_bright{
  color: #818EFE;
}
.primary_p{
  font-size: 1.8rem;
  font-weight: 400;
  color: #555;

}
.btn_full:link,
.btn_full:visited{
  background-color: #818EFE;
  font-size: 1.8rem;
  color: #fff;
  font-weight: 500;
}

.btn_full:active,
.btn_full:hover{
  background-color: #5461dd;
}

.banner_img_box{
  height: 100%;
}
.banner_img{}