
.banner_area{
  padding: 6rem 0;
  background-color: #f2f4ff;
}
.banner_text_box{
  height: 100%;
}

.banner_img_box{
  border-bottom: 1px solid #dcd6d6;
  height: 100%;
  width: auto;
}
.banner_img{
  padding-bottom: 5rem;
}