/* 
--- 01 TYPOGRAPHY SYSTEM
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

--- 02 COLORS
- Primary: #5461dd
- Tints:
- Shades: 

- light variants

- dark variants
#f2f4ff
#eeeff5
#828181

- bg variants



--- 05 SHADOWS

--- 06 BORDER-RADIUS

--- 07 WHITESPACE
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/



/* *************************
reset css start
*************************** */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font-size: 1.6rem;
  font-family: "Manrope", sans-serif;
  background-color: #fff;
}
img{
  max-width: 100%;
  height: auto;
}
a{
  text-decoration: none;
}

ul,li{
  list-style: none;
}
ul{
  padding: 0;
}

/* *************************
reset css end
*************************** */


/* *************************
reusable classes start
*************************** */
.heading_primary{
  font-size: 5.2rem;
  font-weight: 700;
  color: #555;
  line-height: 1.1;
  letter-spacing: -2px;
}

.heading_secondary{
  font-size: 3.6rem;
  font-weight: 700;
  color: #555;
  line-height: 1.1;
  letter-spacing: -1px;
}

.heading_tertiary{
  font-size: 2.4rem;
  font-weight: 700;
  color: #555;
  line-height: 1.1;
}
.heading_quaternary{
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.1;
}
.text_bright{
  color: #5461dd;
}
.primary_p{
  font-size: 1.8rem;
  font-weight: 400;
  color: #555;
}

.secondary_p{
  font-size: 1.8rem;
  font-weight: 700;
  color: #828181;
}
.btn_full,
.btn_full:link,
.btn_full:visited{
  background-color: #5461dd;
  font-size: 1.8rem;
  color: #fff;
  font-weight: 500;
  padding: 1rem 2rem;
}

.btn_full:active,
.btn_full:hover{
  background-color: #3948ca;
  color: #fff;
}


.btn_outline:link,
.btn_outline:visited{
  border: 1px solid #5461dd;
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.8rem;
  font-weight: 700;
  color: #5461dd;
  transition: all .3s;
}

.btn_outline:active,
.btn_outline:hover{
  color: #fdf2e9;
  background-color: #5461dd;
}

.h_line{
  width: 100%;
  box-shadow: 0px 0px 1px 0.09px #fdf2e9;
}

/* *************************
reusable classes end
*************************** */


/* *************************
media query start
*************************** */

@media(max-width:576px){
  html{
    font-size: 50%;
  }
}
/* *************************
media query start
*************************** */
